 
@inject NavigationManager NavigationManager
@inject AutoMapService autoMap
@inject IJSRuntime jsRuntime

<tr @key="curr.identity">
    @*<td>@curr.identity</td>*@
    <td>@curr.svrid</td>
    <td>@curr.svrtype</td>
    <td>@curr.ip</td>
    <td>@curr.port</td>
    <td>@curr.desc</td>
    <td>@curr.svrOper.GetDescription()</td>
    <td>
        <ModalDialogButton classBtn="btn btn-info" DialogId="@dialogId" ButtonContent="修改" OnClickCallback="onEdit">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </ModalDialogButton>
        <ModalDialogButton classBtn="btn btn-success" DialogId="@dialogId" ButtonContent="激活" OnClickCallback="onLive">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </ModalDialogButton>
        <ModalDialogButton classBtn="btn btn-warning" DialogId="@dialogId" ButtonContent="停止" OnClickCallback="onStop">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
        </ModalDialogButton>
        <ModalDialogButton classBtn="btn btn-danger" DialogId="@dialogId" ButtonContent="删除" OnClickCallback="onDel">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </ModalDialogButton>
    </td>
</tr>
@code {

    [Parameter]
    public string dialogId { get; set; }

    [Parameter]
    public ServiceNodeInfoList parentTop { get; set; }

    [Parameter]
    public PNotifier pNotifier { get; set; }

    [Parameter]
    public ServiceNodeInfoDialog pModalDialog { get; set; }

    [Parameter]
    public ServiceNodeInfo curr { get; set; }

    public void onEdit(MouseEventArgs e)
    {
        pModalDialog.pModalDialog.ChangeDilog("修改", "修改");
        var toEdit = autoMap.GetDest<ServiceNodeInfo, ServiceNodeInfo>(curr);
        pModalDialog.Changecurr(toEdit, true);
        parentTop.Change(toEdit, toDoEnum.edit); 
    }

    public void onDel(MouseEventArgs e)
    {
        pModalDialog.pModalDialog.ChangeDilog("删除", "删除");
        var toEdit = autoMap.GetDest<ServiceNodeInfo, ServiceNodeInfo>(curr);
        pModalDialog.Changecurr(toEdit);
        parentTop.Change(toEdit, toDoEnum.del);
    }

    public void onLive(MouseEventArgs e)
    {
        pModalDialog.pModalDialog.ChangeDilog("激活", "激活");
        var toEdit = autoMap.GetDest<ServiceNodeInfo, ServiceNodeInfo>(curr);
        pModalDialog.Changecurr(toEdit);
        parentTop.Change(toEdit, toDoEnum.live);
    }

    public void onStop(MouseEventArgs e)
    {
        pModalDialog.pModalDialog.ChangeDilog("停止", "停止");
        var toEdit = autoMap.GetDest<ServiceNodeInfo, ServiceNodeInfo>(curr);
        pModalDialog.Changecurr(toEdit);
        parentTop.Change(toEdit, toDoEnum.stop);
    }
}
