@page "/serviceNodeInfoTR"
@inject NavigationManager NavigationManager

<tr @key="curr.identity">
    @*<td>@curr.identity</td>*@
    <td>@curr.svrid</td>
    <td>@curr.svrtype</td>
    <td>@curr.ip</td>
    <td>@curr.port</td>
    <td>@curr.desc</td>
    <td>
        <ModalDialogButton classBtn="btn btn-primary" DialogId="serviceNodeInfos" ButtonContent="修改" OnClickCallback="onEdit"></ModalDialogButton>
        <ModalDialogButton classBtn="btn btn-danger" DialogId="serviceNodeInfos" ButtonContent="删除" OnClickCallback="onDel"></ModalDialogButton>
        <ModalDialogButton classBtn="btn btn-warning" DialogId="serviceNodeInfos" ButtonContent="激活" OnClickCallback="onLive"></ModalDialogButton>
    </td>
</tr>
@code {

    [Parameter]
    public ServiceNodeInfoList parentTop { get; set; }

    [Parameter]
    public PNotifier pNotifier { get; set; }

    [Parameter]
    public ServiceNodeInfoDialog pModalDialog { get; set; }

    [Parameter]
    public ServiceNodeInfo curr { get; set; }

    public void onEdit(MouseEventArgs e)
    {
        pModalDialog.Changecurr(curr,true);
        pModalDialog.pModalDialog.ChangeDilog("修改", "修改");
        Func<MouseEventArgs, Task> func = (e) =>
        { 
            parentTop.Change(curr);
            return pNotifier.OnNotify("修改1：", 1, alertEnum.warning);
        };
        pModalDialog.pModalDialog.SetClickCallbackToDo(func);
    }
    public void onDel(MouseEventArgs e)
    {
        pModalDialog.Changecurr(curr);
        pModalDialog.pModalDialog.ChangeDilog("删除", "删除");
        Func<MouseEventArgs, Task> func = (e) =>
        {
            parentTop.Remove(curr);
            return pNotifier.OnNotify("删除：", 2, alertEnum.danger);
        };
        pModalDialog.pModalDialog.SetClickCallbackToDo(func);


    }
    public void onLive(MouseEventArgs e)
    {
        pModalDialog.Changecurr(curr);
        pModalDialog.pModalDialog.ChangeDilog("激活", "激活");
        Func<MouseEventArgs, Task> func = (e) =>
        {
            return pNotifier.OnNotify("激活：", 3, alertEnum.warning);
        };
        pModalDialog.pModalDialog.SetClickCallbackToDo(func);
    }
}
