@page "/serviceNodeInfoTR"
@inject NavigationManager NavigationManager

<tr @key="curr.identity">
    @*<td>@curr.identity</td>*@
    <td>@curr.svrid</td>
    <td>@curr.svrtype</td>
    <td>@curr.ip</td>
    <td>@curr.port</td>
    <td>@curr.desc</td>
    <td>
        <ModalDialogButton classBtn="btn btn-info" DialogId="@dialogId" ButtonContent="修改" OnClickCallback="onEdit">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </ModalDialogButton>
        <ModalDialogButton classBtn="btn btn-danger" DialogId="@dialogId" ButtonContent="删除" OnClickCallback="onDel">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </ModalDialogButton>
        <ModalDialogButton classBtn="btn btn-warning" DialogId="@dialogId" ButtonContent="激活" OnClickCallback="onLive">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </ModalDialogButton>
    </td>
</tr>
@code {

    [Parameter]
    public string dialogId { get; set; }

    [Parameter]
    public ServiceNodeInfoList parentTop { get; set; }

    [Parameter]
    public PNotifier pNotifier { get; set; }

    [Parameter]
    public ServiceNodeInfoDialog pModalDialog { get; set; }

    [Parameter]
    public ServiceNodeInfo curr { get; set; }

    public void onEdit(MouseEventArgs e)
    {
        pModalDialog.Changecurr(curr, true);
        pModalDialog.pModalDialog.ChangeDilog("修改", "修改");
        parentTop.Change(curr, toDoEnum.edit); 
    }
    public void onDel(MouseEventArgs e)
    {
        pModalDialog.pModalDialog.ChangeDilog("删除", "删除");
        pModalDialog.Changecurr(curr);
        parentTop.Change(curr, toDoEnum.del);


    }
    public void onLive(MouseEventArgs e)
    {
        pModalDialog.pModalDialog.ChangeDilog("激活", "激活");
        pModalDialog.Changecurr(curr);
        parentTop.Change(curr, toDoEnum.live);
    }
}
